@if (user) {
  <div class="user-card">
    <div class="user-card__avatar">
      <img
        [src]="user.avatarUrl | imageUrl"
        alt="User avatar"
        class="logo">

      <div class="name">
        <h6>{{ user.firstName }} {{ user.lastName }}</h6>

        <span>{{ user.username }}</span>
      </div>
    </div>

    <div class="user-card__description">
      <span>{{ user.description }}</span>
    </div>

    <div class="user-card__tags">
      @for (userSkill of user.stack; track userSkill) {
        <div class="skill-tag">
          {{ userSkill }}
        </div>
      }
    </div>

    <div class="user-card__actions">
      <button type="button" class="primary-btn">
        Подписаться
      </button>
    </div>
  </div>
}
