<img src="/assets/img/logo-sidebar.svg" alt="sidebarLogo" />

<nav class="menu">
  <ul class="list">
    <li *ngFor="let menuItem of menuItemsConfig">
      <a [routerLink]="[menuItem.link]" class="list-item">
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </a>
    </li>
  </ul>
</nav>

<div class="subscribers">
  <span>Subscribers</span>

  <ul class="subscriber-cards-list">
    @for (user of subscribers$ | async; track user.id) {
      <img
        class="subscriber-card-image"
        [src]="user.avatarUrl | imageUrl"
        [alt]="user.firstName"
      />

      <strong class="subscriber-card-name">
        {{ user.firstName }} {{ user.lastName }}
      </strong>
    }
  </ul>

  <button class="all-subscribers-btn">
    <a [routerLink]="['/subscribers']">
      All subscribers
    </a>
  </button>
</div>

@if (myAccountData(); as profileData) {
  <div class="sidebar-footer">
    <img
      class="profile-avatar"
      [src]="profileData.avatarUrl | imageUrl"
      [alt]="profileData.username"
    />

    <strong class="profile-name">
      {{ profileData.username }}
    </strong>
  </div>
}
