:root {
  --dark-color: #000000;
  --dark-hover-color: #161616;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;

  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;

  --font-bold: 700;
  --font-extra-bold: 700;

  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
  text-align: left;
  line-height: 56px;
  text-decoration-skip-ink: none;
  font-weight: var(--font-extra-bold);
  text-underline-position: from-font;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

body {
  color: var(--light-color);
  background: var(--dark-color);
  background-image: url(/assets/img/bg.png);
}

.skill-tag {
  padding: 4px 8px;
  align-items: center;
  display: inline-flex;
  height: fit-content;
  justify-content: center;
  font-size: var(--font-s);
  font-weight: var(--font-bold);
  border-radius: var(--border-radius);
  border: 1px solid var(--light-color);
}

.primary-btn {
  width: 100%;
  padding: 10px 20px;
  color: var(--dark-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--light-color);
  background-color: var(--primary-color);

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}

.tt-label {
  line-height: 16px;
  font-size: var(--font-sx);
  font-weight: var(--font-bold);
}

.tt-input {
  width: 100%;
  display: block;
  margin-top: 8px;
  line-height: 21px;
  padding: 12px 20px;
  font-size: var(--font-s);
  color: var(--light-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--light-color);
  background-color: var(--dark-color);
}

.ty-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
