@if (user(); as user) {
  <div class="user-profile-header">
    @if (user.avatarUrl) {
      <img
        class="user-profile-avatar"
        [src]="user.avatarUrl | imageUrl"
        [alt]="user.username"
      />
    } @else {
      <div class="profile-avatar-placeholder">
        {{ user.username.charAt(0).toUpperCase() }}
      </div>
    }

    <div class="user-profile-info">
      <h4>{{ user.firstName }} {{ user.lastName }}</h4>

      <span class="ty-regular">{{ user.username }}</span>
    </div>
  </div>

  <div>
    <a class="edit-btn" [routerLink]="['/settings']">
      Edit profile
    </a>
  </div>
}
